<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace的名字需要跟接口的类名一致 -->
<mapper namespace="com.dao.OrderMapper">

    <!-- 配置, 结果集映射 -->
    <resultMap type="com.bean.vo.OrderVo" id="orderMap">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="productName" column="providerName"/>
        <result property="providerName" column="providerName"/>
        <result property="number" column="number"/>
        <result property="amount" column="amount"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <!-- 添加数据, 使用主键自增长 -->
    <insert id="insert" parameterType="com.bean.entity.Order">
        INSERT INTO `t_order`(code, productName, providerName, number, amount, status, createTime)
        VALUES (#{code}, #{productName}, #{providerName}, #{number}, #{amount}, #{status}, #{createTime});
    </insert>

    <delete id="delete" parameterType="com.bean.entity.Order">
        delete t_order where id = #{id}
    </delete>

    <update id="update" parameterType="com.bean.entity.Order">
        update t_order
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="productName != null">productName = #{productName},</if>
            <if test="providerName != null">providerName = #{providerName},</if>
            <if test="number != null">number = #{number},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 查询所有数据 -->
    <select id="select" parameterType="com.bean.entity.Order" resultMap="orderMap">
        select * from t_order
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="code != null">and code = #{code}</if>
            <if test="productName != null">and productName = #{productName}</if>
            <if test="providerName != null">and providerName = #{providerName}</if>
        </where>
    </select>

    <select id="selectCount" resultType="int">
    </select>

    <select id="selectByPage" resultMap="orderMap">
    </select>

</mapper>















