<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace的名字需要跟接口的类名一致 -->
<mapper namespace="com.dao.ProviderMapper">

    <!-- 配置, 结果集映射 -->
    <resultMap type="com.bean.vo.ProviderVo" id="providerMap">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="contact" column="contact"/>
        <result property="phone" column="phone"/>
        <result property="fax" column="fax"/>
        <result property="createTime" column="createTime"/>
        <result property="description" column="description"/>
    </resultMap>

    <!-- 添加数据, 使用主键自增长 -->
    <insert id="insert" parameterType="com.bean.entity.Provider">
        INSERT INTO `t_provider`(code, name, contact, phone, fax, createTime, description)
        VALUES (#{code}, #{name}, #{contact}, #{phone}, #{fax}, #{createTime}, #{description});
    </insert>

    <delete id="delete" parameterType="com.bean.entity.Provider">
        delete from
        t_provider where id =
        #{id}
    </delete>

    <update id="update" parameterType="com.bean.entity.Provider">
        update t_provider
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="fax != null">fax = #{fax},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 查询所有数据 -->
    <select id="select" parameterType="com.bean.entity.Provider" resultMap="providerMap">
        select * from t_provider
        <where>
            <if test="id != null">and id = #{id}</if>
        </where>
    </select>

    <select id="selectCount" parameterType="map" resultType="int">
        select count(1) from t_provider
    </select>

    <select id="selectByPage" parameterType="map" resultMap="providerMap">
        select * from t_provider
                          limit #{start_code}, #{page_size}
    </select>

</mapper>















